


<body>
    
    <!-- Form  -->
<div class="container-fluid text-info bg-light mt-5 mb-2 border p-4">
    <div class="container-fluid">
        <a class="btn btn-outline-dark admin-button" href="/he2024admin">Admin Panel</a>
    </div>
    <div class="container text-info text-center">
        <h3>Edit Product</h1>
    </div>
    <%- include('./partials/successMsg.ejs') %>
    <div class="flex-column justify-content-end mt-4">
        <div class="row" id="imgBodyShow">
                <div class="col-md border gallery">
                    <img src="/uploadedFiles/<%= message.File_1 %>" class="img-fluid rounded m-2" height="100px" width="150px" alt="Product Image">
                    <form action="/file/editImage" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="pid" value="<%= message.Id %>">
                        <input type="hidden" name="imgName" value="<%= message.File_1 %>">
                        <input type="hidden" name="img" value="1">
                        <input type="file" name="img_input" required>
                        <button type="submit" name="img_change_submit_btn" class="btn btn-outline-dark m-2">Change Image</button>
                    </form>
                </div>
                <div class="col-md border gallery">
                    <img src="/uploadedFiles/<%= message.File_2 %>" class="img-fluid rounded m-2" height="100px" width="150px" alt="Product Image">
                    <form action="/file/editImage" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="pid" value="<%= message.Id %>">
                        <input type="hidden" name="imgName" value="<%= message.File_2 %>">
                        <input type="hidden" name="img" value="2">
                        <input type="file" name="img_input" required>
                        <button type="submit" name="img_change_submit_btn" class="btn btn-outline-dark m-2">Change Image</button>
                    </form>
                </div>
                <div class="col-md border gallery">
                    <img src="/uploadedFiles/<%= message.File_3 %>" class="img-fluid rounded m-2" height="100px" width="150px" alt="Product Image">
                    <form action="/file/editImage" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="pid" value="<%= message.Id %>">
                        <input type="hidden" name="imgName" value="<%= message.File_3 %>">
                        <input type="hidden" name="img" value="3">
                        <input type="file" name="img_input" required>
                        <button type="submit" name="img_change_submit_btn" class="btn btn-outline-dark m-2">Change Image</button>
                    </form>
                </div>
        </div>
    </div>
    <form action="/edit/update/<%= message.Id %>" method="POST">
        <div class="row text-info mt-2 p-4">
            <div class="col-md">
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Title">Name</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Title" value="<% if (locals.message != null) {%><%= message.name %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Category">Category</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Category" value="<% if (locals.message != null) {%><%= message.category %><% } %>" >
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Brand">Brand</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Brand" value="<% if (locals.message != null) {%><%= message.brand %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Type">Type</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Type" value="<% if (locals.message != null) {%><%= message.type %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Color">Color</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Color" value="<% if (locals.message != null) {%><%= message.color %><% } %>" >
                    </div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Barcode">Barcode</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Barcode" value="<% if (locals.message != null) {%><%= message.barcode %><% } %>">
                    </div>
                </div>
            
            </div>
            <div class="col-md">
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="demo_MRP">Demo MRP</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="demo_MRP" value="<% if (locals.message != null) {%><%= message.demo_MRP %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="mrp">MRP</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="MRP" value="<% if (locals.message != null) {%><%= message.mrp %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Qty">QTY</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Qty" value="<% if (locals.message != null) {%><%= message.Qty %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="KeyWords">Keywords</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="KeyWords" value="<% if (locals.message != null) {%><%= message.keyWords %><% } %>" >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h6><label for="Description">Description</label></h6>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="Description" value="<% if (locals.message != null) {%><%= message.description %><% } %>">
                    </div>
                </div>
            </div>
            
        </div>
            
        <div class="container d-flex justify-content-end mt-4 mr-3">
            <input class="btn btn-success mr-2" name="submit" type="submit" value="Update">
        </div>
    </form>
    
</div>

<script>
    $(document).ready(() => {
        // $('#imgBodyToEdit').hide()
        $('#ChangeImgBtn').click(() => {
            $('#imgBodyShow').hide()
            $('#imgBodyToEdit').show()
        })

        $('img').click((e)=> {
            let name = e.target.getAttribute('name')
            if (name == 'img_1') {
                e.target.classList.add('hide')
                $('#img_form_div_1').removeClass('hide')
            } else if (name == 'img_2') {
                e.target.classList.add('hide')
                $('#img_form_div_2').removeClass('hide')
            } else if (name == 'img_3') {
                e.target.classList.add('hide')
                $('#img_form_div_3').removeClass('hide')
            }
        })
    })
    

</script>
</body>

