<body
  style="
    background: url(/img/banner/background.jpg) no-repeat center fixed;
    background-size: cover;
  "
>
<!-- <script>
  function ready() {
    alert('DOM is ready');
  }

  document.addEventListener("DOMContentLoaded", ready);
</script> -->
  <%- include('./partials/header.ejs') %>
  <div class="container-fluid hideInMobile" style="background-color: #fff">
    <div class="container f" id="goTotop">
      <div class="row" id="caruselDiv">
        <div class="col-sm-6 text-center d-flex flex-wrap align-content-center">
          <div class="container p-3">
            <h1
              class="font-italic _head"
              id="firstHeading"
              style="font-family: Sofia, sans-serif; color: #0185cf">
              Buy your desired home appliance here and make your life more
              confortable !!!
            </h1>
          </div>
        </div>
        <div class="col">
          <!-- <img class="img-fluid" src="/img/banner/Laptop.jpg" alt="Banner"> -->
          <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 1.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 1_jpg.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 2_jpg.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 2_png.png"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 3_jpg 1.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 4_jpg.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 5_png.png"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 6_webp.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 7_jpg.jpg"
                  alt="Laptop"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="img-fluid"
                  src="/img/banner/b_ref 8_jpg.jpg"
                  alt="Laptop"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center mt-4">
      <h1 class="text-danger display-4 font-weight-bold">KITCHEN APPLIANCE</h1>
      <h2 class="font-italic">
        Get Your Kitchen Appliance From Hoque Electronics
      </h2>
    </div>
    <div class="container-fluid">
      <img
        class="img-fluid"
        src="/img/banner/b_fullWidthBanner_2.jpg"
        alt="Banner"
      />
    </div>
    <div class="container-fluid">
      <img
        class="img-fluid"
        style="margin-top: -50px"
        src="/img/banner/b-fullWidthBanner_jpg.jpg"
        alt="Banner"
      />
    </div>
  </div>
  <div class="hideInMobile" style="height: 700px"></div>
  <div class="hideInPc" style="background-color: #fff;">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="/img/banner/mobileViewFrontBanner.jpg" alt="Refrigerator">
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="/img/banner/mobileViewFrontBanner_2.png" alt="Refrigerator">

        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="/img/banner/mobileViewFrontBanner_3.jpg" alt="Refrigerator">

        </div>
      </div>
    </div>
    <div class="container-fluid p-3 text-center">
      <h1
        class="font-italic _head"
        id="firstHeading"
        style="font-family: Sofia, sans-serif; color: #0185cf">
        Buy your desired home appliance here and make your life more
        confortable !!!
      </h1>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center flex-wrap p-1" style="background-color: #fff;">
    <% if (locals.message !== null) { message.forEach(function(product) { %> 

            <div class="container-fluid text-center border imgHoverEffect p-2 m-2 product" style="max-width: 330px;cursor: pointer;" productId="<%= product.id %>">
                <div class="container-fluid" productId="<%= product.id %>">
                    <h6 style="color:#0d69d3;cursor: pointer;" productId="<%= product.id %>"><strong productId="<%= product.id %>"><% if (product.model.includes('Inch')) { let model=product.model.replace('Inch', '"' ) %>
                                <%= model %>
                        <% } else {%><%= product.model %> <% } %></strong></h6>
                </div>
                <div class="container-fluid" productId="<%= product.id %>">
                    <img src="<%= product.display_img %>"
                        alt="Product Image" height="auto" width="150px" productId="<%= product.id %>"/>
                </div>
                <div class="container-fluid mt-2" productId="<%= product.id %>">
                    <div class="row" productId="<%= product.id %>">
                        <div class="col" productId="<%= product.id %>">
                            <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<del><%= product.mrp %></del>
                            </h6>
                        </div>
                        <div class="col" productId="<%= product.id %>">
                            <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<%= product.offer_price %></h6>
                        </div>
                    </div>
                </div>
            </div>
    <% })} %> 
      <div class="container d-flex justify-content-end">
        <a href="/gallery">See more</a>
      </div>
  </div>
  <div style="background-color: #fff">

    <!-- <div class="hideOnMobile" style="height: 100px"></div> -->
    <div class="container-fluid p-0 hideInMobile">
      <img class="img-fluid" src="https://waltonbd.com/image/cache/catalog/refrigerator-and-freezer/landing-page-image/direct-cool-banner-1920x550.jpg" alt="" loading="lazy">
    </div>
    <div class="container-fluid p-0 hideInMobile">
      <img class="img-fluid" src="https://waltonbd.com/image/cache/catalog/refrigerator-and-freezer/landing-page-image/non-frost-banner-1920x550.jpg" alt="" loading="lazy">
    </div>
  
    <div class="container-fluid p-0 hideInMobile">
      <img class="img-fluid" src="https://waltonbd.com/image/catalog/category-banner/refrigerator/freezer-to-fridge-switch-whenever-you-need.jpg" alt="" loading="lazy">
    </div>
  
  </div>

  <%- include('./partials/footer.ejs') %>

  <script>
    
    $(document).ready(() => {
      fillTheCheckBox();
      function fillTheCheckBox() {
        let brands = [
          "Asus",
          "Acer",
          "Apple",
          "Anatel",
          "ARCTIC",
          "Au-Optronics",
          "AzureWave",
          "BarraCuda",
          "BOE",
          "Chicony",
          "Chimei Innolux Corp",
          "Compaq",
          "Dell",
          "Delta",
          "FIRECUDA",
          "FSP GROUP INC",
          "Gigabyte",
          "Hasee",
          "HGST",
          "HP",
          "HP-COMPAQ",
          "HUAWEI",
          "IBM",
          "Lenovo",
          "LG",
          "LITE-ON",
          "Micron",
          "Microsoft Surface",
          "NANYA",
          "Netac",
          "Onten",
          "Qualcomm Atheros",
          "Ralink",
          "Razer",
          "Realtek",
          "Sumsung",
          "SAMSWEET",
          "SanDisk",
          "Seagate",
          "SHARP",
          "SK Hynix",
          "Sony",
          "SSK",
          "Toshiba",
          "Uogic",
          "Western",
          "Digital",
          "WiWU",
          "Broadcom",
          "Crucial",
          "Fujitsu",
          "Google",
          "Intel",
          "Microsoft",
          "MSI",
          "WIT",
          "Xiaomi",
        ];
        for (let i = 0; i < brands.length; i++) {
          const elem = brands[i];
          $("#brandFilterForm").prepend(`<div class="container">
                                <input type="checkbox" name="${elem}"> &nbsp;&nbsp; ${elem}
                            </div>`);
        }
      }

      $("#showlist").click(() => {
        if ($("#filterDiv-1").hasClass("hide")) {
          $("#filterDiv-1").removeClass("hide");
        } else {
          $("#filterDiv-1").addClass("hide");
        }
      });

      $("input[type='checkbox']").click(function (e) {
        let targetCheckbox = e.target;
        let brand = targetCheckbox.getAttribute("name");
        if ($(this).is(":checked")) {
          $.ajax({
            url: `/search/filterbybrand/${brand}`,
            method: "post",
            data: { brand: brand },
            success: (result) => {
              if (typeof result == "string") {
                alert(result);
              } else {
                $("#renderProdDiv").empty();
                $("#caruselDiv").empty();
                $("#filterResult")
                  .prepend(`<div class="container-fluid d-flex flex-wrap p0" id="${brand}">
                                    ${result}
                                    </div>`);
                $("html, body").animate({
                  scrollTop: $("#filterResult").offset().top,
                });
              }
            },
          });
        } else {
          $(`#${brand}`).remove();
        }
      });

     
    });

    function addToCart(a) {
      let PID = $(`#${a}`).children("input[name='productid']").val();
      let PT = $(`#${a}`).children("input[name='productTitle']").val();
      let model = $(`#${a}`).children("input[name='model']").val();
      let brand = $(`#${a}`).children("input[name='brand']").val();
      let unitPrice = $(`#${a}`).children("input[name='price']").val();
      let totalPrice = unitPrice;
      let qty = 1;
      let data = [PID, PT, model, brand, qty, unitPrice, totalPrice];
      if (document.cookie) {
        // document.cookie = "cartData=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        let decodedCookie = decodeURIComponent(document.cookie);
        let cartD = decodedCookie.slice(9);
        let ca = cartD.split("+");
        for (let i = 0; i < ca.length; i++) {
          const e = ca[i];
          let arr = e.split(",");
          if (arr[0] == PID) {
            return alert("This item already added to your cart!");
          }
        }
        document.cookie = `cartData=${cartD + "+" + data};path=/;`;
        alert("Product added to your cart successfully!");
      } else {
        document.cookie = `cartData=${data};path=/;`;
        alert("Product added to your cart successfully!");
        // window.location.reload()
      }
    }
    
    </script>
</body>
