<body>
    <%- include('./partials/header.ejs') %>
    <div class="row">
        <div id="filterDiv" class="col-3 text-light" style="background-color: black;">
            <div class="container-fluid p-4 m-1 f" style="border: 0.5px solid black;border-radius:10px">
                <div class="container text-center mt-3">
                    <h5 for="vol">Filter by price range</h5>
                    
                    <!-- ( &#2547;BDT ) -->
                </div>
                <hr>
                <form action="/search/filterbypricerange" method="Post" class="mt-4">
                    <div class="container">
                        <div class="container-fluid p0 ip mt-3">
                            <input type="text" class="form-control" placeholder="Product Name" name="title" required>
                        </div>
                        <div class="row ip mt-3">
                            <div class="col-lg-4 ip">
                                <h6><label for="rangeFrom">From : </label></h6>
                            </div>
                            <div class="col-lg-8 ip">
                                <input type="text" class="form-control" placeholder="1" name="rangeFrom" required>
                            </div>
                        </div>
                        <div class="row ip mt-3">
                            <div class="col-lg-4 ip">
                                <h6><label for="rangeTo">To :</label></h6>
                            </div>
                            <div class="col-lg-8 ip">
                                <input type="text" class="form-control" placeholder="100000" name="rangeTo" required>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-light">
                            Filter
                        </button>
                    </div>
                </form>
                <hr>
                <div class="container">
                    <div class="container text-center mt-4">
                        <h5 for="vol">Filter by brand</h5>
                    </div>
                    <div class="container-fluid mt-3" id="filterDiv-1">
                        <form action="#" method="get">
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="dell"> &nbsp;&nbsp; Dell
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="hp"> &nbsp;&nbsp; Hp
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="asus"> &nbsp;&nbsp; Asus
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="apple"> &nbsp;&nbsp; Apple
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="samsung"> &nbsp;&nbsp; Samsung
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="microsoft"> &nbsp;&nbsp; Microsoft
                            </div>
                        </form>
                    </div>
                
                    <div id="accordion" class=" text-dark mt-3">
                        <div class="card">
                          <div class="card-header text-center">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne" id="showlist">
                              Show full list
                            </a>
                          </div>
                          <div id="collapseOne" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container-fluid" id="brandFilterForm">
                                    
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
            </div>
            </div>
            
        </div>
        <div class="col">
            <div class="container-fluid d-flex flex-wrap" id="filterResult">

            </div>
            <div class="container-fluid d-flex flex-wrap" id="renderProdDiv">
                <% if (locals.message) { %> 
                    <!-- <div class="container d-flex flex-wrap justify-content-center"> -->
                        <% if (locals.message !== null) { message.forEach(function(product) { %> 
                        <!-- <div class="gallery border p-2 m-1 d-flex flex-wrap align-content-around" style="width:300px;"> -->
                            <div class="gallery border p-2 m-1" style="width:500px;">
                            <div class="container-fluid text-center">
                                <h5><%= product.Title %></h5>
                            </div>
                            <div class="p-2">
                                <a href="/details/<%= product.Id %>">
                                    <img src="/uploadedFiles/<%= product.File_1 %>" class="img-fluid rounded" code="<%= product.Id %>" height="500px" width="500px" alt="Product Image">
                                </a>
                            </div>
                            <div class="col p-2">
                                <p><strong>Product Code :</strong> <%= product.Id %></p>
                                <p><strong>Brand :</strong> <%= product.Brand %></p>
                                <p><strong>Model :</strong> <%= product.Model %></p>
                                <p><strong>Description :</strong> <%= product.Description %></p>
                                <p><strong>Price (BDT) :</strong> <%= product.Price %></p>
                                <p><strong>Qty :</strong> <%= product.Qty %></p>
                                <button type="submit" name="addToCart" productid="<%= product.Id %>" brand="<%= product.Brand %>" productTitle="<%= product.Title %>" model="<%= product.Model %>" price="<%= product.Price %>" class="btn btn-outline-dark btn-sm addToCart">
                                    <span class="fab fa-opencart"></span> Add to cart
                                </button>
                            </div>
                        </div>
                        <% })} %> 
                    <!-- </div> -->
                <% } else { %>
                    <%- include('./partials/error.ejs') %>
                    <% } %> 
            </div>
           
        </div>
    </div>


    
    <%- include('./partials/footer.ejs') %>

    <script>

        $(document).ready(() => {
            fillTheCheckBox()
            function fillTheCheckBox() {
                
                let brands = ['Asus', 'Acer', 'Apple', 'Anatel', 'ARCTIC', 'Au-Optronics',
                            'AzureWave', 'BarraCuda', 'BOE', 'Chicony', 'Chimei Innolux Corp', 'Compaq','Dell','Delta','FIRECUDA','FSP GROUP INC',
                            'Gigabyte','Hasee','HGST','HP','HP-COMPAQ','HUAWEI','IBM','Lenovo','LG','LITE-ON','Micron','Microsoft Surface','NANYA',
                            'Netac','Onten','Qualcomm Atheros','Ralink','Razer','Realtek','Sumsung','SAMSWEET','SanDisk','Seagate','SHARP','SK Hynix',
                            'Sony','SSK','Toshiba','Uogic','Western', 'Digital','WiWU','Broadcom','Crucial','Fujitsu','Google','Intel','Microsoft','MSI','WIT','Xiaomi',
                        ]
                for (let i = 0; i < brands.length; i++) {
                    const elem = brands[i];
                    $('#brandFilterForm').append(`<div class="container">
                            <input type="checkbox" name="${elem}"> &nbsp;&nbsp; ${elem}
                        </div>`)
                }
            }

            $('#showlist').click(() => {
                if ($('#filterDiv-1').hasClass('hide')) {
                    $('#filterDiv-1').removeClass('hide')
                } else {
                    $('#filterDiv-1').addClass('hide')
                }
                
            })
            
            $("input[type='checkbox']").click(function (e) {
                    let targetCheckbox = e.target
                    let brand = targetCheckbox.getAttribute('name')
                    if ($(this).is(':checked')) {
                        $.ajax({
                            url: `/search/filterbybrand/${brand}`,
                            method: 'post',
                            data: {brand:brand},
                            success: (result) => {
                                if (typeof(result) == 'string') {
                                    alert(result)
                                } else {
                                    $('#renderProdDiv').empty()
                                    $('#caruselDiv').empty()
                                    $('#filterResult').prepend(`<div class="container-fluid d-flex flex-wrap" id="${brand}">
                                    ${result}
                                    </div>`);
                                    $('html, body').animate({
                                    scrollTop: $("#filterResult").offset().top
                                    });
                                }
                                
                            }
                        })
                    } else {
                        $(`#${brand}`).remove()
                    }
                });
                
        
        })
    </script>
</body>