<body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/error.ejs') %>
    <div class="container d-flex justify-content-center p-3">
        <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#fbpr">Filter by price range</button>
        <!-- <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#fbb">Filter by brand</button> -->
    </div>
        <div id="fbpr" class="collapse">
            <div class="d-flex justify-content-center">
                <div class="text-light" style="max-width: 300px; border-radius: 10px; background-color: black;">
                    <div class="container-fluid" style="border: 0.5px solid black;border-radius:10px">
                        <div class="container text-center mt-3">
                            <h5 for="vol">Filter by price range</h5>
                        </div>
                        <hr>
                        <form action="/search/filterbypricerange" method="Post" class="mt-4">
                            <div class="container">
                                <div class="container-fluid p0 ip mt-3">
                                    <input type="text" class="form-control" placeholder="Product Name" name="model" required>
                                </div>
                                <div class="row ip mt-3">
                                    <div class="col-lg-4 ip">
                                        <h6><label for="rangeFrom">From : </label></h6>
                                    </div>
                                    <div class="col-lg-8 ip">
                                        <input type="number" class="form-control" placeholder="1" name="rangeFrom" required>
                                    </div>
                                </div>
                                <div class="row ip mt-3">
                                    <div class="col-lg-4 ip">
                                        <h6><label for="rangeTo">To :</label></h6>
                                    </div>
                                    <div class="col-lg-8 ip">
                                        <input type="number" class="form-control" placeholder="100000" name="rangeTo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="container p-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-outline-light">
                                    Filter
                                </button>
                            </div>
                        </form>
                    </div>
                
                </div>
            </div>
        </div>
    <div class="row hideInMobile">
        <!-- <div id="filterDiv" class="col-3 text-light" style="background-color: black;">
            <div class="container-fluid p-4 m-1 f" style="border: 0.5px solid black;border-radius:10px">
                <div class="container text-center mt-3">
                    <h5 for="vol">Filter by price range</h5>
                </div>
                <hr>
                <form action="/search/filterbypricerange" method="Post" class="mt-4">
                    <div class="container">
                        <div class="container-fluid p0 ip mt-3">
                            <input type="text" class="form-control" placeholder="Product Name" name="model" required>
                        </div>
                        <div class="row ip mt-3">
                            <div class="col-lg-4 ip">
                                <h6><label for="rangeFrom">From : </label></h6>
                            </div>
                            <div class="col-lg-8 ip">
                                <input type="number" class="form-control" placeholder="1" name="rangeFrom" required>
                            </div>
                        </div>
                        <div class="row ip mt-3">
                            <div class="col-lg-4 ip">
                                <h6><label for="rangeTo">To :</label></h6>
                            </div>
                            <div class="col-lg-8 ip">
                                <input type="number" class="form-control" placeholder="100000" name="rangeTo" required>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-light">
                            Filter
                        </button>
                    </div>
                </form>
                <hr>
                <div class="container">
                    <div class="container text-center mt-4">
                        <h5 for="vol">Filter by brand</h5>
                    </div>
                    <div class="container-fluid mt-3" id="filterDiv-1">
                        <form action="#" method="get">
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="Samsung"> &nbsp;&nbsp; Samsung
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="Walton"> &nbsp;&nbsp; Walton
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="Vision"> &nbsp;&nbsp; Vision
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="Singer"> &nbsp;&nbsp; Singer
                            </div>
                            <div class="container">
                                <input type="checkbox" class="filterByBrand" name="Konka"> &nbsp;&nbsp; Konka
                            </div>
                        </form>
                    </div>
            </div>
            </div>
            
        </div> -->
        <div class="col">
            <!-- <div class="container-fluid d-flex flex-wrap justify-content-center" id="filterResult"></div> -->
            <div class="container-fluid d-flex flex-wrap justify-content-center p-3">
                <% if (locals.message) { message.forEach(function(product) { %>
            
                    <div class="container-fluid text-center border imgHoverEffect p-2 m-2 product"
                        style="max-width: 330px;cursor: pointer;" productId="<%= product.id %>">
                        <div class="container-fluid" productId="<%= product.id %>">
                            <h6 style="color:#0d69d3;cursor: pointer;" productId="<%= product.id %>"><strong
                                    productId="<%= product.id %>">
                                    <% if (product.model.includes('Inch')) { let model=product.model.replace('Inch', '"' ) %>
                                        <%= model %>
                                            <% } else {%>
                                                <%= product.model %>
                                                    <% } %>
                                </strong></h6>
                        </div>
                        <div class="container-fluid" productId="<%= product.id %>">
                            <img src="<%= product.display_img %>" alt="Product Image" height="auto" width="150px"
                                productId="<%= product.id %>" />
                        </div>
                        <div class="container-fluid mt-2" productId="<%= product.id %>">
                            <div class="row" productId="<%= product.id %>">
                                <div class="col" productId="<%= product.id %>">
                                    <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<del>
                                            <%= product.mrp %>
                                        </del>
                                    </h6>
                                </div>
                                <div class="col" productId="<%= product.id %>">
                                    <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<%= product.offer_price %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% })} %>
                    
            </div>
           
        </div>
    </div>
    
    <div class="hideInPc">
        <div class="d-flex justify-content-center flex-wrap p-1">
            <% if (locals.message) { message.forEach(function(product) { %>
        
                <div class="container-fluid text-center border imgHoverEffect p-2 m-2 product"
                    style="max-width: 330px;cursor: pointer;" productId="<%= product.id %>">
                    <div class="container-fluid" productId="<%= product.id %>">
                        <h6 style="color:#0d69d3;cursor: pointer;" productId="<%= product.id %>"><strong
                                productId="<%= product.id %>">
                                <% if (product.model.includes('Inch')) { let model=product.model.replace('Inch', '"' ) %>
                                    <%= model %>
                                        <% } else {%>
                                            <%= product.model %>
                                                <% } %>
                            </strong></h6>
                    </div>
                    <div class="container-fluid" productId="<%= product.id %>">
                        <img src="<%= product.display_img %>" alt="Product Image" height="auto" width="150px"
                            productId="<%= product.id %>" />
                    </div>
                    <div class="container-fluid mt-2" productId="<%= product.id %>">
                        <div class="row" productId="<%= product.id %>">
                            <div class="col" productId="<%= product.id %>">
                                <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<del>
                                        <%= product.mrp %>
                                    </del>
                                </h6>
                            </div>
                            <div class="col" productId="<%= product.id %>">
                                <h6 style="color:#0d69d3" productId="<%= product.id %>">Tk.<%= product.offer_price %>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <% })} %>
                
        </div>
    </div>
   

    
    <%- include('./partials/footer.ejs') %>

    <script>

        $(document).ready(() => {
            fillTheCheckBox()
            function fillTheCheckBox() {
                
                let brands = ['Asus', 'Acer', 'Apple', 'Anatel', 'ARCTIC', 'Au-Optronics',
                            'AzureWave', 'BarraCuda', 'BOE', 'Chicony', 'Chimei Innolux Corp', 'Compaq','Dell','Delta','FIRECUDA','FSP GROUP INC',
                            'Gigabyte','Hasee','HGST','HP','HP-COMPAQ','HUAWEI','IBM','Lenovo','LG','LITE-ON','Micron','Microsoft Surface','NANYA',
                            'Netac','Onten','Qualcomm Atheros','Ralink','Razer','Realtek','Sumsung','SAMSWEET','SanDisk','Seagate','SHARP','SK Hynix',
                            'Sony','SSK','Toshiba','Uogic','Western', 'Digital','WiWU','Broadcom','Crucial','Fujitsu','Google','Intel','Microsoft','MSI','WIT','Xiaomi',
                        ]
                for (let i = 0; i < brands.length; i++) {
                    const elem = brands[i];
                    $('#brandFilterForm').append(`<div class="container">
                            <input type="checkbox" name="${elem}"> &nbsp;&nbsp; ${elem}
                        </div>`)
                }
            }

            $('#showlist').click(() => {
                if ($('#filterDiv-1').hasClass('hide')) {
                    $('#filterDiv-1').removeClass('hide')
                } else {
                    $('#filterDiv-1').addClass('hide')
                }
                
            })

            $(document).on('click', '.product', function (e) {
                let pid = e.target.getAttribute('productId');
                window.location.replace(`/details/${pid}`);

            })
            
            $("input[type='checkbox']").click(function (e) {
                    let targetCheckbox = e.target
                    let brand = targetCheckbox.getAttribute('name')
                    if ($(this).is(':checked')) {
                        $.ajax({
                            url: `/search/filterbybrand/${brand}`,
                            method: 'post',
                            data: {brand:brand},
                            success: (result) => {
                                if (typeof(result) == 'string') {
                                    alert(result)
                                } else {
                                    $('#renderProdDiv').empty()
                                    $('#caruselDiv').empty()
                                    $('#filterResult').prepend(`<div class="container-fluid d-flex flex-wrap" id="${brand}">
                                    ${result}
                                    </div>`);
                                    $('html, body').animate({
                                    scrollTop: $("#filterResult").offset().top
                                    });
                                }
                                
                            }
                        })
                    } else {
                        $(`#${brand}`).remove()
                    }
                });
                
        
        })
    </script>
</body>